<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.log.operation.mapper.LogOperationMapper">

    <select id="selectPageVo" resultType="org.quyq.gwsu.common.log.vo.LogOperationVO">
        SELECT id AS oper_id, authorization_id, tid, parent_id, module_prefix, from_app, api_module, menu_id,
               oper_subject, api_description, method, request_url, request_method,
               terminal, terminal_detail, oper_name,
               request_param, response_data, error_msg, status,
               request_time, response_time, consume_mill,
               create_op, create_time, modify_op, modify_time
        FROM log_operation
        WHERE deleted = 0
          AND from_app = 'gateway'
          AND parent_id IS NULL
        <if test="query.authorizationId != null and query.authorizationId != ''">
            AND authorization_id = #{query.authorizationId}
        </if>
        <if test="query.tid != null and query.tid != ''">
            AND tid = #{query.tid}
        </if>
        <if test="query.modulePrefix != null and query.modulePrefix != ''">
            AND module_prefix = #{query.modulePrefix}
        </if>
        <if test="query.operName != null and query.operName != ''">
            AND oper_name LIKE CONCAT('%', #{query.operName}, '%')
        </if>
        <if test="query.requestUrl != null and query.requestUrl != ''">
            AND request_url LIKE CONCAT('%', #{query.requestUrl}, '%')
        </if>
        <if test="query.requestMethod != null and query.requestMethod != ''">
            AND request_method = #{query.requestMethod}
        </if>
        <if test="query.status != null">
            AND status = #{query.status}
        </if>
        <if test="query.requestTimeStart != null">
            AND request_time &gt;= #{query.requestTimeStart}
        </if>
        <if test="query.requestTimeEnd != null">
            AND request_time &lt;= #{query.requestTimeEnd}
        </if>
        <if test="query.orderByColumn != null and query.orderByColumn != ''">
            ORDER BY ${query.orderByColumn}
        </if>
        <if test="query.orderByColumn == null or query.orderByColumn == ''">
            ORDER BY request_time DESC
        </if>
    </select>

    <select id="selectByTid" resultType="org.quyq.gwsu.log.operation.domain.LogOperation">
        SELECT id, authorization_id, tid, parent_id, module_prefix, from_app, api_module, menu_id,
               oper_subject, api_description, method, request_url, request_method,
               terminal, terminal_detail, oper_name,
               request_param, response_data, error_msg, status,
               request_time, response_time, consume_mill,
               create_op, create_time, modify_op, modify_time
        FROM log_operation
        WHERE deleted = 0
          AND tid = #{tid}
        ORDER BY request_time ASC, id ASC
    </select>

    <select id="selectExpiredIds" resultType="java.lang.String">
        SELECT id
        FROM log_operation
        WHERE request_time &lt; #{expiredBefore}
        ORDER BY request_time ASC
        LIMIT #{batchSize}
    </select>

</mapper>
