<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quyq.gwsu.log.login.mapper.LogLoginMapper">

    <select id="selectPageVo" resultType="org.quyq.gwsu.common.log.vo.LogLoginVO">
        SELECT id, authorization_id, account_type, visitor_type, login_type,
               grant_type, client_id, user_id, user_name, login_account,
               end_type, terminal,
               terminal_detail, client_ip, status, failure_code, failure_message, login_time, end_time,
               create_op, create_time, modify_op, modify_time
        FROM log_login
        WHERE deleted = 0
        <if test="query.authorizationId != null and query.authorizationId != ''">
            AND authorization_id = #{query.authorizationId}
        </if>
        <if test="query.endType != null">AND end_type = #{query.endType}</if>
        <if test="query.accountType != null">AND account_type = #{query.accountType}</if>
        <if test="query.visitorType != null">AND visitor_type = #{query.visitorType}</if>
        <if test="query.loginType != null and query.loginType != ''">AND login_type = #{query.loginType}</if>
        <if test="query.clientId != null and query.clientId != ''">AND client_id = #{query.clientId}</if>
        <if test="query.userId != null and query.userId != ''">AND user_id = #{query.userId}</if>
        <if test="query.userName != null and query.userName != ''">
            AND user_name LIKE CONCAT('%', #{query.userName}, '%')
        </if>
        <if test="query.loginAccount != null and query.loginAccount != ''">
            AND login_account LIKE CONCAT('%', #{query.loginAccount}, '%')
        </if>
        <if test="query.clientIp != null and query.clientIp != ''">AND client_ip = #{query.clientIp}</if>
        <if test="query.status != null">AND status = #{query.status}</if>
        <if test="query.loginTimeStart != null">AND login_time &gt;= #{query.loginTimeStart}</if>
        <if test="query.loginTimeEnd != null">AND login_time &lt;= #{query.loginTimeEnd}</if>
        <if test="query.endTimeStart != null">AND end_time &gt;= #{query.endTimeStart}</if>
        <if test="query.endTimeEnd != null">AND end_time &lt;= #{query.endTimeEnd}</if>
        ORDER BY login_time DESC
    </select>

    <select id="selectOpenByAuthorizationId" resultType="org.quyq.gwsu.log.login.domain.LogLogin">
        SELECT id, authorization_id, login_time, end_time
        FROM log_login
        WHERE deleted = 0
          AND status = 1
          AND end_time IS NULL
          AND authorization_id = #{authorizationId}
        LIMIT 1
    </select>

    <update id="refreshSession">
        UPDATE log_login
        SET end_type = NULL,
            end_time = NULL,
            modify_time = #{modifyTime}
        WHERE deleted = 0
          AND status = 1
          AND authorization_id = #{authorizationId}
    </update>

    <update id="finishSession">
        UPDATE log_login
        SET end_type = #{endType},
            end_time = #{endTime},
            modify_time = #{endTime}
        WHERE id = #{id}
          AND deleted = 0
          AND end_time IS NULL
    </update>
</mapper>
